<span class="hidden-xs">
	<strong class="red">CONNECT</strong> &nbsp;
</span>
<a class="white" href="mailto:info@wcernetwork.org">info@wcernetwork.org</a> / 608.263.4062 &nbsp;
<a target="_blank" class="white" href="https://twitter.com/wcernetwork"><i class="fa fa-twitter"></i></a>
<br />
©2015 Board of Regents<span class="hidden-xs"> of the <a href="http://www.wisconsin.edu/" class="white" target="_blank">University of Wisconsin System</a></span> &nbsp;|&nbsp; <a href="/privacy" class="white">Privacy Policy</a>
